header{font-size:30px;
}

section{color: grey;
    font-size: 25px;
    display: flex;
    flex-direction: row;

}

#picture{

    position: relative;
    left: 1600px;
    bottom: 150px;
    width: 300px;
}